// Variables


// color
$blue: #00b0f0 !default;
$gray: #343338 !default;
$lightgray:#cccccc !default;
$orange: #f29735;
$primary: $blue !default;
$secondary: $orange;


//font



$navbar-height: 50px;
